.img-logo {
    width: 150px;
    height: 30px;
}

@media (max-width:780px) {
    .img-logo {
        width: 90px;
        height: 20px;
    }
}

.bg-dashboard {
    background-color: #176af3;
}

.btn-success.deposit {
    border-radius: 0px;
    margin-top: 15px;
}

.silver {
    font-size: 30px;
    padding-left: 10px;
}

.star-icon {
    margin-left: 70px;
}

.timer-icon {
    margin-left: 10px;
}

.time-update {
    font-size: 13px;
}

.time-update span {
    margin: 0px 5px 0px 5px;
}

.btn-sell {
    border-radius: 0px;
    width: 200px;
}

@media (max-width:480px) {
    .btn-sell {
        width: 130px;
        font-size: 12px !important;
    }

    .balance h5 {
        font-size: 14px;
    }
}

.buy-sell-list {
    list-style-type: none;
    display: inline-flex;
}

.buy-sell-list li {
    margin: 0px 10px 0px 10px;
}

.sell-menu {
    width: 300px;
}

.invest-span {
    font-size: 12px;
}

.tab-item {
    margin-left: 20px;
}

@media (max-width:480px) {
    .tab-item {
        margin-left: 0px;
        margin-top: 15px;
    }
}

.user-package {
    padding: 20px;
}

.img-user {
    width: 70px;
    border-radius: 50%;
}

.package {
    background-color: rgb(40, 40, 121);
    font-size: 13px;
    padding: 10px;
    margin-top: 15px;
}

@media (max-width:780px) {
    .user-package {
        padding: 10px;
    }

    .img-user {
        width: 50px;
    }

    .package {
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }
}